ol{
    border-radius: 20px;
    background-color:gray;
    height:400px;
    width:1000px;
}
.header{
    font-family:monospace;
}

h5{
    background-color:white;
    border-radius: 20px;
    height:20px;
    width:100px;
}
button{
    height: 40px;
    width:100px;
}